/***************************
    Site Design CSS
***************************/

#box {
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
    color: #a06d00;
  text-align: center;
  overflow: visible;
  align: right;
}

h1 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12pt;
  line-height: 1.3px;
  letter-spacing: -4px;
    padding-bottom: 5px;
}

p {
  font-family: Verdana, Geneva, sans-serif;
    font-size: 11pt;
  line-height: 1.3px;
    padding: 0;
  width: 23px;
}

p.small {
  font-size: 8pt;
}

a,
a:visited,
a:hover {
  color: #a06d00;
  
}


/***************************
    Google Table CSS
***************************/

.google-visualization-table-tr-even,
.google-visualization-table-tr-even td,
.google-visualization-table-tr-even-nonstrict {
  color: #a06d00 !important;
  font-size: 12pt;
   letter-spacing: 2px;
}

.google-visualization-table-tr-odd,
.google-visualization-table-tr-odd td,
.google-visualization-table-tr-odd-nonstrict {
  color: #a06d00 !important;
  font-size: 12pt;
    letter-spacing: 2px;
}

.google-visualization-table-tr-sel,
.google-visualization-table-tr-sel td,
.google-visualization-table-tr-sel-nonstrict {
  background-color: #fff !important;
  color: #a06d00!important;
}

.google-visualization-table-tr-over,
.google-visualization-table-tr-over td,
.google-visualization-table-tr-over-nonstrict {
  background-color: #a06d00 !important;
  color: #fff !important;
}

.google-visualization-table-td,
.google-visualization-table-th {
  border: 0px solid #333 !important;
  color: #fff !important;
}

.google-visualization-table-tr-head,
.google-visualization-table-tr-head td,
.google-visualization-table-tr-head-nonstrict {
background-color: #a06d00 !important;
  background-image: none !important;
  color: #fff !important;
  font-size: 12pt;
  letter-spacing: 3px;
}

.google-visualization-table .gradient {
  background-image: none !important;
}


/***************************
    Text Selection CSS
***************************/

::-moz-selection {
  color: #fff;
  background: #a06d00;
}

::selection {
  color: #fff;
  background: #a06d00;
}
